@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Roboto+Slab:wght@900&family=Work+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@layer components {
  .rowletter {
    @apply text-white font-mono font-semibold text-4xl px-5 py-2 border-[#d3d6da] dark:border-[#3a3a3c] border-solid border-2 rounded-sm;
  }
  .rowtoast {
    @apply text-black dark:text-white font-mono font-semibold text-2xl px-2 py-1 border-gray-400 dark:border-[#565758] border-solid border-2 inline-block mx-1;
  }
  .rowpara {
    @apply text-lg p-1 font-sans;
  }
}
.heading {
  font-family: "Roboto Slab", serif;
}
