@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Roboto+Slab:wght@900&family=Work+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#__next {
  @apply flex flex-col h-screen;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@layer components {
  .rowletter {
    @apply text-white font-mono font-semibold text-4xl px-5 py-2 border-[#d3d6da] dark:border-[#3a3a3c] border-solid border-2 rounded-sm;
  }
  .rowtoast {
    @apply text-black dark:text-white font-mono font-semibold text-2xl px-2 py-1 border-gray-400 dark:border-[#565758] border-solid border-2 inline-block mx-1;
  }
  .rowpara {
    @apply text-lg p-1 font-sans;
  }
}
.heading {
  font-family: "Roboto Slab", serif;
}

/* .flipCard {
  animation: flip 0.5s ease;
} */

.\#FF4D6D {
  --background: #ff4d6d;
  --border-color: #ff4d6d;
}
.\#7BDFF2 {
  --background: #7bdff2;
  --border-color: #7bdff2;
}
.\#787c7e {
  --background: #787c7e;
  --border-color: #787c7e;
}

/* .row > div:nth-child(2) {
  animation-delay: 0.2s;
}
.row > div:nth-child(3) {
  animation-delay: 0.4s;
}
.row > div:nth-child(4) {
  animation-delay: 0.6s;
}
.row > div:nth-child(5) {
  animation-delay: 0.8s;
} */

@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
    background: var(--background);
    border-color: var(--border-color);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
